<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task</title>
</head>
<body>
This issue is now assigned to you <br><br>

Task: <br>

Title: <b th:text="${email.title}"></b> <br><br>

<!--Assignee: <b th:text="${email.assignee}"></b> <br><br>-->

<!--Created: <b th:text="${#temporals.format(email.createdDate, 'dd-MM-yyyy HH:mm')}"></b> <br><br>-->

Reporter: <b th:text="${email.createdBy}"></b> <br><br>

Description: <b th:text="${email.description}"></b> <br><br>

<!--Deadline: <b th:text="${#temporals.format(email.deadline, 'dd-MM-yyyy')}"></b> <br>-->

</body>
</html>